FORMAT: 1A
HOST: https://bobwu.cn/api/

# ChickenDinner8

Eat点点扫码点餐系统

## 商家账户信息管理 [/boss/user]
商家账号有关的一些操作

### 注册新用户 [POST]

+ Request (application/json)

        {
            "username": "username",
            "password": "password"
        }
+ Response 200 (application/json)
注册成功

    + Body
    
        {
            "msg": "注册成功"
        }
+ Response 409 (application/json)
注册失败，可能是用户名已存在

    + Body
    
        {
            "msg": "注册失败"
        }


### 获取用户信息 [GET]
获取当前登陆用户的个人信息，若未登陆则会提示

+ Response 200 (application/json)
获取成功

    + Body
    
        {
            "username":"username"
        }

+ Response 401 (application/json)
未登录

    + Body
    
        {
            "msg": "未登录"
        }

### 修改用户信息 [PUT]
更新传入的用户属性（不能修改密码)，返回某一用户的全部属性
+ Request (application/json)
    
    {
        "username": "username",
        "password": "password"
    }

+ Response 200 (application/json)

    {
        "username": "username"
    }


## 商家账户登陆态管理 [/boss/session]

所有商家端操作都要以登录成功为前提，否则操作会失败且返回未登录信息

### 登录 [POST]
新建一个登录态
+ Request (application/json)

        {
            "username": "username",
            "password": "password"
        }

+ Response 200 (application/json)

    + Body
    
        {
            "msg": "登陆成功"
        }

+ Response 401 (application/json)

    + Body
    
        {
            "msg": "账号或者密码错误"
        }
    
        {
            "msg": "当前用户不存在"
        }


### 登出 [DELETE]
结束登录态

+ Response 200 (application/json)
    
    + Body
        
        {
            "msg": "登出成功"
        }

## 所有餐厅 [/restaurants]

### 查看旗下所有餐厅的信息 [GET]

+ Response 200 (application/json)

    + Body
        
        {
            "restaurants":[
                {
                    "id":"id",
                    "name":"name",
                    "location":"location",
                    "description":"xxxx"
                },
                {
                    "id":"id",
                    "name":"name",
                    "location":"location",
                    "description":"xxxx"
                }
            ]
        }


## 某一餐厅 [/restaurant/:{restaurantId}]

### 查看某一餐厅的信息 [GET]

+ Response 200 (application/json)

    + Body
    
        {
            "id":"id",
            "name":"name",
            "location":"location",
            "description":"xxxx"
        }

### 创建一个餐厅 [POST]

+ Request (application/json)
    
    + Body
        
        {
            "name": "kfc",
            "description": "fastfood"
        }

+ Response 201 (application/json)
创建成功
    
    + Body
        
        {
            "id":"id",
            "name":"name",
            "location":"location",
            "description":"xxxx"
        }

### 修改餐厅信息 [PUT]

+ Request (application/json)

        {
            "name": "kfc",
            "description": "fastfood"
        }

+ Response 200 (application/json)
修改成功，返回餐厅的所有属性
    + Body

        {
            "id":"id",
            "name": "kfc",
            "description": "fastfood"
        }

## 餐厅菜单 [/menu/:{restaurantId}]

### 查看菜单 [GET]

+ Response 200 (application/json)

    + Body
    
        {
            foods:[
                {},
                {},
                {}
            ]
        }

### 修改菜单 [POST]

+ Request (application/json)

        {
            "operation": "add",
            "foodName": "shit",
            "foodDescription": "shit"
        }

+ Request (application/json)

        {
            "operation": "delete",
            "foodName": "shit"
        }

+ Request (application/json)

        {
            "operation": "edit",
            "foodName": "shit",
            "foodDescription": "shit"
        }

+ Response 200 (text/html)

    + Body

            提交成功

## 菜单上的菜品 [/menu/:{foodId}]

### 获取某一菜品的信息 [GET]

+ Response 200 (application/json)
返回一个food 对象

    + Body
    
        {
        
        }

### 添加菜品 [POST]

+ Request (application/json)
发送一个food 对象

    + Body
        
        {
            
        }


+ Response 200 (application/json)
创建成功，返回完整的food对象

    + Body
        
        {

        }

### 编辑菜品 [PUT]

+ Request (application/json)
发送一个完整的food对象

    + Body
    
        {

        }

+ Response 200 (application/json)
修改成功，返回修改后的food对象，包括id

    + Body
    
        {
        
        }


### 删除菜品 [DELETE]

+ Response 200 (application/json)
删除成功
    
    + Body
        
        {
            "msg":"删除成功"
        }


## 订单 [/restaurant/orders]

### 查看订单 [GET]

+ Response 200 (application/json)

        订单列表

### 提交订单 [POST]

+ Request (application/json)

        {
        }

+ Response 201 (text/html)

    + Body

            提交成功
            
## 评论 [/restaurant/comments]

### 查看评论 [GET]

+ Response 200 (text/html)

        评论列表

### 撰写评论 [POST]

+ Request (application/json)

        {
            "userID": "666",
            "comment": "shit"
        }

+ Response 201 (text/html)

    + Body

            评论成功
            
## 库存 [/restaurant/stock]

### 获取库存 [GET]

+ Response 200 (application/json)

        [
            {
                "foodName": "chicken",
                "howMany" : "666"
            }
        ]